* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --website-bg: hsl(30, 38%, 92%);
  --primary: hsl(158, 36%, 37%);
  --product-bg: hsl(0, 0%, 100%);
  --product-text: hsl(228, 12%, 48%);

  --button-active: hsl(143, 23%, 22%);
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--website-bg);
}

main {
  height: 90vh;
}

main,
.perfume__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================================== */

.perfume__container {
  border-radius: 10px;
}

.perfume__img,
.perfume__product {
  width: 300px;
  height: 450px;
}

.perfume__img > img {
  width: 100%;
  display: block;
  border-radius: 10px 0 0 10px;
}

/* ========================================== */

.perfume__product {
  border-radius: 0 10px 10px 0;
  background-color: var(--product-bg);
}

.perfume__product--box {
  width: 75%;
  margin: 0 auto;
}

.fancy__title,
.perfume__descr,
.prize--old {
  color: var(--product-text);
}

.perfume__name,
.perfume__descr,
.prize__box,
.perfume--add {
  margin-top: 20px;
}

.fancy__title {
  position: relative;
  left: -2px;
  margin-top: 40px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.perfume__name {
  font-family: "Fraunces", serif;
  font-size: 30px;
  line-height: 1em;
}

.perfume__descr {
  font-size: 14px;
  line-height: 1.7em;
}

.prize__box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.prize__box > .perfume--prize {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: var(--primary);
}

.prize__box > .prize--old {
  text-decoration-line: line-through;
}

.perfume--add {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  gap: 10px;
  color: var(--product-bg);
  font-weight: bold;
  background-color: var(--primary);
}

.perfume--add:hover {
  cursor: pointer;
  background-color: var(--button-active);
}

/* ========================================== */

.attribution {
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ========================================== */

@media (max-width: 650px) {
  main,
  .perfume__product {
    height: auto;
  }

  .perfume__container {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .perfume__container,
  .perfume__img,
  .perfume__product {
    width: 85%;
  }

  .perfume__img {
    height: fit-content;
  }

  .perfume__img > img {
    content: url(./images/image-product-mobile.jpg);
    border-radius: 10px 10px 0 0;
  }

  .perfume__product {
    border-radius: 0 0 10px 10px;
  }

  .perfume__product--box {
    margin-bottom: 20px;
  }

  .perfume__name {
    font-size: 32px;
  }

  .perfume__descr {
    font-size: 16px;
  }

  .attribution {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .perfume__container,
  .perfume__img,
  .perfume__product {
    width: 95%;
  }
}
